{
  "Entries": [
    {
      "RequestUri": "/subscriptions/f100532e-a283-4523-8ff6-a8cebadb6e9d/resourcegroups/SdkRg6545?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/f100532e-a283-4523-8ff6-a8cebadb6e9d/resourceGroups/SdkRg6545\",\r\n  \"name\": \"SdkRg6545\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/f100532e-a283-4523-8ff6-a8cebadb6e9d/resourceGroups/SdkRg6545/providers/Microsoft.EdgeOrder/orderItems/SdkOrderItem7196?api-version=2020-12-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"orderItemDetails\": {\r\n      \"productDetails\": {\r\n        \"hierarchyInformation\": {\r\n          \"productFamilyName\": \"AzureStackEdge\",\r\n          \"productLineName\": \"AzureStackEdge\",\r\n          \"productName\": \"AzureStackEdgeGPU\",\r\n          \"configurationName\": \"EdgeP_Base\"\r\n        }\r\n      },\r\n      \"orderItemType\": \"Purchase\",\r\n      \"preferences\": {\r\n        \"transportPreferences\": {\r\n          \"preferredShipmentType\": \"MicrosoftManaged\"\r\n        }\r\n      }\r\n    },\r\n    \"addressDetails\": {\r\n      \"forwardAddress\": {\r\n        \"shippingAddress\": {\r\n          \"streetAddress1\": \"16 TOWNSEND ST\",\r\n          \"streetAddress2\": \"Unit 1\",\r\n          \"city\": \"San Francisco\",\r\n          \"stateOrProvince\": \"CA\",\r\n          \"country\": \"US\",\r\n          \"postalCode\": \"94107\",\r\n          \"companyName\": \"Microsoft\",\r\n          \"addressType\": \"Commercial\"\r\n        },\r\n        \"contactDetails\": {\r\n          \"contactName\": \"Public SDK Test\",\r\n          \"phone\": \"1234567890\",\r\n          \"phoneExtension\": \"1234\",\r\n          \"emailList\": [\r\n            \"testing@microsoft.com\"\r\n          ]\r\n        }\r\n      }\r\n    },\r\n    \"orderId\": \"/subscriptions/f100532e-a283-4523-8ff6-a8cebadb6e9d/resourceGroups/SdkRg6545/providers/Microsoft.EdgeOrder/locations/eastus/orders/SdkOrderItem7196\"\r\n  },\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/f100532e-a283-4523-8ff6-a8cebadb6e9d/providers/Microsoft.EdgeOrder/locations/eastus/operationResults/bd388075-3e6c-45d4-a8a3-df137335a282?api-version=2020-12-01-preview"
        ],
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/f100532e-a283-4523-8ff6-a8cebadb6e9d/providers/Microsoft.EdgeOrder/locations/eastus/operationResults/bd388075-3e6c-45d4-a8a3-df137335a282?api-version=2020-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/f100532e-a283-4523-8ff6-a8cebadb6e9d/resourceGroups/SdkRg6545/providers/Microsoft.EdgeOrder/orderItems/SdkOrderItem7196?api-version=2020-12-01-preview"
        ],
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/f100532e-a283-4523-8ff6-a8cebadb6e9d/resourceGroups/SdkRg6545/providers/Microsoft.EdgeOrder/orderItems/SdkOrderItem7196?api-version=2020-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"orderItemDetails\": {\r\n      \"productDetails\": {\r\n        \"displayInfo\": {\r\n          \"productFamilyDisplayName\": \"Azure Stack Edge\",\r\n          \"configurationDisplayName\": \"Azure Stack Edge Pro - 1 GPU\"\r\n        },\r\n        \"hierarchyInformation\": {\r\n          \"productFamilyName\": \"azurestackedge\",\r\n          \"productLineName\": \"azurestackedge\",\r\n          \"productName\": \"azurestackedgegpu\",\r\n          \"configurationName\": \"edgep_base\"\r\n        },\r\n        \"count\": 0\r\n      },\r\n      \"orderItemType\": \"Purchase\",\r\n      \"currentStage\": {\r\n        \"stageStatus\": \"Succeeded\",\r\n        \"stageName\": \"Placed\",\r\n        \"startTime\": \"2021-07-26T19:17:39.9036095+05:30\"\r\n      },\r\n      \"orderItemStageHistory\": [\r\n        {\r\n          \"stageStatus\": \"Succeeded\",\r\n          \"stageName\": \"Placed\",\r\n          \"startTime\": \"2021-07-26T19:17:39.9036095+05:30\"\r\n        },\r\n        {\r\n          \"stageStatus\": \"None\",\r\n          \"stageName\": \"Confirmed\"\r\n        },\r\n        {\r\n          \"stageStatus\": \"None\",\r\n          \"stageName\": \"ReadyToShip\"\r\n        },\r\n        {\r\n          \"stageStatus\": \"None\",\r\n          \"stageName\": \"Shipped\"\r\n        },\r\n        {\r\n          \"stageStatus\": \"None\",\r\n          \"stageName\": \"Delivered\"\r\n        },\r\n        {\r\n          \"stageStatus\": \"None\",\r\n          \"stageName\": \"InUse\"\r\n        }\r\n      ],\r\n      \"preferences\": {\r\n        \"transportPreferences\": {\r\n          \"preferredShipmentType\": \"MicrosoftManaged\"\r\n        }\r\n      },\r\n      \"notificationEmailList\": [],\r\n      \"cancellationStatus\": \"Cancellable\",\r\n      \"deletionStatus\": \"NotAllowed\",\r\n      \"returnStatus\": \"NotReturnable\"\r\n    },\r\n    \"addressDetails\": {\r\n      \"forwardAddress\": {\r\n        \"shippingAddress\": {\r\n          \"streetAddress1\": \"16 TOWNSEND ST\",\r\n          \"streetAddress2\": \"Unit 1\",\r\n          \"city\": \"San Francisco\",\r\n          \"stateOrProvince\": \"CA\",\r\n          \"country\": \"US\",\r\n          \"postalCode\": \"94107\",\r\n          \"companyName\": \"Microsoft\",\r\n          \"addressType\": \"Commercial\"\r\n        },\r\n        \"contactDetails\": {\r\n          \"contactName\": \"Public SDK Test\",\r\n          \"phone\": \"1234567890\",\r\n          \"phoneExtension\": \"1234\",\r\n          \"emailList\": [\r\n            \"testing@microsoft.com\"\r\n          ]\r\n        }\r\n      }\r\n    },\r\n    \"startTime\": \"2021-07-26T19:17:35.2666004+05:30\",\r\n    \"orderId\": \"/subscriptions/f100532e-a283-4523-8ff6-a8cebadb6e9d/resourceGroups/SdkRg6545/providers/Microsoft.EdgeOrder/locations/eastus/orders/SdkOrderItem7196\"\r\n  },\r\n  \"systemData\": {\r\n    \"createdBy\": \"46f005c6-af25-4659-b0ab-11c6f1fca4c2\",\r\n    \"createdByType\": \"Application\",\r\n    \"createdAt\": \"2021-07-26T19:17:34.4018634+05:30\",\r\n    \"lastModifiedBy\": \"46f005c6-af25-4659-b0ab-11c6f1fca4c2\",\r\n    \"lastModifiedByType\": \"Application\",\r\n    \"lastModifiedAt\": \"2021-07-26T19:17:34.4018634+05:30\"\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"tags\": {},\r\n  \"name\": \"SdkOrderItem7196\",\r\n  \"id\": \"/subscriptions/f100532e-a283-4523-8ff6-a8cebadb6e9d/resourceGroups/SdkRg6545/providers/Microsoft.EdgeOrder/orderItems/SdkOrderItem7196\",\r\n  \"type\": \"Microsoft.EdgeOrder/orderItems\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/f100532e-a283-4523-8ff6-a8cebadb6e9d/resourceGroups/SdkRg6545/providers/Microsoft.EdgeOrder/locations/eastus/orders/SdkOrderItem7196?api-version=2020-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"orderItemIds\": [\r\n      \"/subscriptions/f100532e-a283-4523-8ff6-a8cebadb6e9d/resourceGroups/SdkRg6545/providers/Microsoft.EdgeOrder/orderItems/SdkOrderItem7196\"\r\n    ],\r\n    \"currentStage\": {\r\n      \"stageStatus\": \"Succeeded\",\r\n      \"stageName\": \"Placed\",\r\n      \"startTime\": \"2021-07-26T19:17:39.9716969+05:30\"\r\n    },\r\n    \"orderStageHistory\": [\r\n      {\r\n        \"stageStatus\": \"Succeeded\",\r\n        \"stageName\": \"Placed\",\r\n        \"startTime\": \"2021-07-26T19:17:39.9716969+05:30\"\r\n      },\r\n      {\r\n        \"stageStatus\": \"None\",\r\n        \"stageName\": \"InReview\"\r\n      }\r\n    ]\r\n  },\r\n  \"name\": \"SdkOrderItem7196\",\r\n  \"id\": \"/subscriptions/f100532e-a283-4523-8ff6-a8cebadb6e9d/resourceGroups/SdkRg6545/providers/Microsoft.EdgeOrder/locations/eastus/orders/SdkOrderItem7196\",\r\n  \"type\": \"Microsoft.EdgeOrder/orders\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/f100532e-a283-4523-8ff6-a8cebadb6e9d/providers/Microsoft.EdgeOrder/orders?api-version=2020-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          ""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"orderItemIds\": [\r\n          \"/subscriptions/f100532e-a283-4523-8ff6-a8cebadb6e9d/resourceGroups/SdkRg6545/providers/Microsoft.EdgeOrder/orderItems/SdkOrderItem7196\"\r\n        ],\r\n        \"currentStage\": {\r\n          \"stageStatus\": \"Succeeded\",\r\n          \"stageName\": \"Placed\",\r\n          \"startTime\": \"2021-07-26T19:17:39.9716969+05:30\"\r\n        },\r\n        \"orderStageHistory\": [\r\n          {\r\n            \"stageStatus\": \"Succeeded\",\r\n            \"stageName\": \"Placed\",\r\n            \"startTime\": \"2021-07-26T19:17:39.9716969+05:30\"\r\n          },\r\n          {\r\n            \"stageStatus\": \"None\",\r\n            \"stageName\": \"InReview\"\r\n          }\r\n        ]\r\n      },\r\n      \"name\": \"SdkOrderItem7196\",\r\n      \"id\": \"/subscriptions/f100532e-a283-4523-8ff6-a8cebadb6e9d/resourceGroups/SdkRg6545/providers/Microsoft.EdgeOrder/locations/eastus/orders/SdkOrderItem7196\",\r\n      \"type\": \"Microsoft.EdgeOrder/orders\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/f100532e-a283-4523-8ff6-a8cebadb6e9d/resourceGroups/SdkRg6545/providers/Microsoft.EdgeOrder/orders?api-version=2020-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          ""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ],
        "Content-Type": [
          "application/json; chars[...]
    {
      "RequestUri": "/subscriptions/f100532e-a283-4523-8ff6-a8cebadb6e9d/resourceGroups/SdkRg6545/providers/Microsoft.EdgeOrder/orderItems/SdkOrderItem7196/cancel?api-version=2020-12-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"reason\": \"Order item cancelled\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    },
[...]
    {
      "RequestUri": "/subscriptions/f100532e-a283-4523-8ff6-a8cebadb6e9d/providers/Microsoft.EdgeOrder/locations/eastus/operationResults/1762444525019675208-deleteresource?api-version=2020-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/f100532e-a283-4523-8ff6-a8cebadb6e9d/providers/Microsoft.EdgeOrder/locations/eastus/operationResults/1762444525019675208-deleteresource?api-version=2020-12-01-preview"
        ],
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11993"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/f100532e-a283-4523-8ff6-a8cebadb6e9d/providers/Microsoft.EdgeOrder/locations/eastus/operationResults/1762444525019675208-deleteresource?api-version=2020-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11955"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {
    "TestGetAndListOrders": [
      "SdkRg6545",
      "SdkOrderItem7196"
    ]
  },
  "Variables": {
    "SubscriptionId": "f100532e-a283-4523-8ff6-a8cebadb6e9d",
    "SubId": "f100532e-a283-4523-8ff6-a8cebadb6e9d"
  }
}