{
  "Entries": [
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/identities?api-version=2020-07-20-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "JxCtZSqdBE28YbsOc7QtkA.0",
        "X-Processing-Time": "19ms"
      },
      "ResponseBody": {
        "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-dcc4-2a7a-5b3a0d00038b"
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/identities/8%3Aacs%3A1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-dcc4-2a7a-5b3a0d00038b/token?api-version=2020-07-20-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "J\u002BdoRQjtFVYLx3qOvzptwBLjQWqy6OEWEEk1TY1\u002BrT4="
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "lppNjA\u002BEL0a103N9LRhmzA.0",
        "X-Processing-Time": "101ms"
      },
      "ResponseBody": {
        "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-dcc4-2a7a-5b3a0d00038b",
        "token": "Sanitized",
        "expiresOn": "2021-01-20T03:40:58.3226179\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads?api-version=2020-11-01-preview3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "topic": "Thread topic - ReadReceipts Async Test",
        "participants": [
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-dcc4-2a7a-5b3a0d00038b"
          },
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-dee5-2a7a-5b3a0d00038c"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://168.61.22.92/chat/threads/19%3A0b3b2d9e91f941de8970760c8d27e7f4@thread.v2",
        "MS-CV": "rjLqjzVbXE2MR7mK3k52gg.0",
        "X-Processing-Time": "937ms"
      },
      "ResponseBody": {
        "chatThread": {
          "id": "19:0b3b2d9e91f941de8970760c8d27e7f4@thread.v2",
          "topic": "Thread topic - ReadReceipts Async Test",
          "createdOn": "2021-01-19T03:41:00Z",
          "createdBy": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-dcc4-2a7a-5b3a0d00038b"
        }
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3A0b3b2d9e91f941de8970760c8d27e7f4%40thread.v2/messages?api-version=2020-11-01-preview3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "This is message 1 content"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://168.61.22.92/chat/threads/19%3A0b3b2d9e91f941de8970760c8d27e7f4@thread.v2/messages/1611027661464",
        "MS-CV": "LkS7Q6kffE2cHRI8o4YUJg.0",
        "X-Processing-Time": "402ms"
      },
      "ResponseBody": {
        "id": "1611027661464"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3A0b3b2d9e91f941de8970760c8d27e7f4%40thread.v2/readReceipts?api-version=2020-11-01-preview3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "chatMessageId": "1611027662089"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "MS-CV": "lcV4JjJ88UeY5wMstPLsWA.0",
        "X-Processing-Time": "615ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3A0b3b2d9e91f941de8970760c8d27e7f4%40thread.v2/readReceipts?api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "AFxJEL0fi0\u002BuEfnT\u002B\u002BEC\u002BA.0",
        "X-Processing-Time": "267ms"
      },
      "ResponseBody": {
        "value": [
          {
            "senderId": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-dcc4-2a7a-5b3a0d00038b",
            "chatMessageId": "1611027662089",
            "readOn": "2021-01-19T03:41:02Z"
          },
          {
            "senderId": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-dee5-2a7a-5b3a0d00038c",
            "chatMessageId": "1611027661464",
            "readOn": "2021-01-19T03:41:03Z"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3A0b3b2d9e91f941de8970760c8d27e7f4%40thread.v2?api-version=2020-11-01-preview3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "MS-CV": "LVxgiWO1nkGwwxr6jTx3EA.0",
        "X-Processing-Time": "335ms"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://chat-sdktester-e2e.dev.communication.azure.net/;accesskey=Kg==;",
    "RandomSeed": "1649358197"
  }
}