{
  "Entries": [
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/identities?api-version=2020-07-20-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "A4BpcTAhzUWbrXwysK1E3Q.0",
        "X-Processing-Time": "23ms"
      },
      "ResponseBody": {
        "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-5530-2a7a-5b3a0d000381"
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/identities/8%3Aacs%3A1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-5530-2a7a-5b3a0d000381/token?api-version=2020-07-20-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "J\u002BdoRQjtFVYLx3qOvzptwBLjQWqy6OEWEEk1TY1\u002BrT4="
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "BByQzrT03U21hGW2Qsxf0A.0",
        "X-Processing-Time": "90ms"
      },
      "ResponseBody": {
        "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-5530-2a7a-5b3a0d000381",
        "token": "Sanitized",
        "expiresOn": "2021-01-20T03:40:23.6195944\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads?api-version=2020-11-01-preview3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "topic": "Thread topic - ReadReceipts Test",
        "participants": [
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-5530-2a7a-5b3a0d000381"
          },
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-5758-2a7a-5b3a0d000382"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://168.61.22.92/chat/threads/19%3A1ff49351bb8c47ac919fed4287bcb39d@thread.v2",
        "MS-CV": "A/YR1RpKakOhdcTRnY\u002BlHQ.0",
        "X-Processing-Time": "962ms"
      },
      "ResponseBody": {
        "chatThread": {
          "id": "19:1ff49351bb8c47ac919fed4287bcb39d@thread.v2",
          "topic": "Thread topic - ReadReceipts Test",
          "createdOn": "2021-01-19T03:40:25Z",
          "createdBy": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-5530-2a7a-5b3a0d000381"
        }
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3A1ff49351bb8c47ac919fed4287bcb39d%40thread.v2/messages?api-version=2020-11-01-preview3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "This is message 1 content"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://168.61.22.92/chat/threads/19%3A1ff49351bb8c47ac919fed4287bcb39d@thread.v2/messages/1611027627119",
        "MS-CV": "YrgjpQTHdEKjSpS7BDgwqA.0",
        "X-Processing-Time": "473ms"
      },
      "ResponseBody": {
        "id": "1611027627119"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3A1ff49351bb8c47ac919fed4287bcb39d%40thread.v2/readReceipts?api-version=2020-11-01-preview3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "chatMessageId": "1611027627916"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "MS-CV": "g/uCVjkwXk\u002BZZgAOKZ7laQ.0",
        "X-Processing-Time": "630ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3A1ff49351bb8c47ac919fed4287bcb39d%40thread.v2/readReceipts?api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "KTrlpWwpgEqjESjFeUDcbg.0",
        "X-Processing-Time": "357ms"
      },
      "ResponseBody": {
        "value": [
          {
            "senderId": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-5530-2a7a-5b3a0d000381",
            "chatMessageId": "1611027627916",
            "readOn": "2021-01-19T03:40:28Z"
          },
          {
            "senderId": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-5758-2a7a-5b3a0d000382",
            "chatMessageId": "1611027627119",
            "readOn": "2021-01-19T03:40:29Z"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3A1ff49351bb8c47ac919fed4287bcb39d%40thread.v2?api-version=2020-11-01-preview3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "MS-CV": "Fd1WovKhM0Sg2sfER9uNFQ.0",
        "X-Processing-Time": "1158ms"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://chat-sdktester-e2e.dev.communication.azure.net/;accesskey=Kg==;",
    "RandomSeed": "2023588260"
  }
}