{
  "Entries": [
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/identities?api-version=2020-07-20-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "ZMGrDf8YXUqRGutCWT6FzA.0",
        "X-Processing-Time": "18ms"
      },
      "ResponseBody": {
        "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-f65f-2a7a-5b3a0d00038d"
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/identities/8%3Aacs%3A1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-f65f-2a7a-5b3a0d00038d/token?api-version=2020-07-20-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "J\u002BdoRQjtFVYLx3qOvzptwBLjQWqy6OEWEEk1TY1\u002BrT4="
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "p9/tRD65ikCIMkKRtxxl9Q.0",
        "X-Processing-Time": "91ms"
      },
      "ResponseBody": {
        "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-f65f-2a7a-5b3a0d00038d",
        "token": "Sanitized",
        "expiresOn": "2021-01-20T03:41:04.8318096\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads?api-version=2020-11-01-preview3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "topic": "Thread async from C# sdk",
        "participants": [
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-f65f-2a7a-5b3a0d00038d"
          },
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-f84e-2a7a-5b3a0d00038e"
          },
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-fa42-2a7a-5b3a0d00038f"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://168.61.22.92/chat/threads/19%3A3790656a18794aaa8e952d3811d59210@thread.v2",
        "MS-CV": "4E052PHz10yCPcMFcNeP7w.0",
        "X-Processing-Time": "905ms"
      },
      "ResponseBody": {
        "chatThread": {
          "id": "19:3790656a18794aaa8e952d3811d59210@thread.v2",
          "topic": "Thread async from C# sdk",
          "createdOn": "2021-01-19T03:41:08Z",
          "createdBy": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-f65f-2a7a-5b3a0d00038d"
        }
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3A3790656a18794aaa8e952d3811d59210%40thread.v2/participants?api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "2i1LxW/9kEW6RP3uzOjQQg.0",
        "X-Processing-Time": "323ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-f65f-2a7a-5b3a0d00038d",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-f84e-2a7a-5b3a0d00038e",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-fa42-2a7a-5b3a0d00038f",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3A3790656a18794aaa8e952d3811d59210%40thread.v2?api-version=2020-11-01-preview3",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "topic": "Updated topic - C# sdk"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "MS-CV": "ar9aEuON20S1CRo4eRNSpQ.0",
        "X-Processing-Time": "448ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3A3790656a18794aaa8e952d3811d59210%40thread.v2/messages?api-version=2020-11-01-preview3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "priority": "high",
        "content": "Content for message 1",
        "senderDisplayName": "DisplayName sender message 1"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://168.61.22.92/chat/threads/19%3A3790656a18794aaa8e952d3811d59210@thread.v2/messages/1611027672151",
        "MS-CV": "igBLoxJE\u002BkOST\u002BE5IfZZeQ.0",
        "X-Processing-Time": "413ms"
      },
      "ResponseBody": {
        "id": "1611027672151"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3A3790656a18794aaa8e952d3811d59210%40thread.v2/messages/1611027672151?api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Hm43ggKmBkOgBy8\u002B85tfFg.0",
        "X-Processing-Time": "262ms"
      },
      "ResponseBody": {
        "id": "1611027672151",
        "type": "text",
        "priority": "high",
        "sequenceId": "4",
        "version": "1611027672151",
        "content": {
          "message": "Content for message 1"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2021-01-19T03:41:12Z",
        "senderId": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-f65f-2a7a-5b3a0d00038d"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3A3790656a18794aaa8e952d3811d59210%40thread.v2/messages?maxPageSize=2\u0026api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode"[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19:3790656a18794aaa8e952d3811d59210@thread.v2/messages?syncState=3e2d00000031393a3337393036353661313837393461616138653935326433383131643539323130407468726561642e7632016076bb1877010000dd78bb1877010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJh[...]
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19:3790656a18794aaa8e952d3811d59210@thread.v2/messages?syncState=3e2d00000031393a3337393036353661313837393461616138653935326433383131643539323130407468726561642e7632013168bb1877010000dd78bb1877010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "PQ/NLpSoWUiyX/tzaVFofA.0",
        "X-Processing-Time": "369ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "1611027668526",
            "type": "topicUpdated",
            "priority": "normal",
            "sequenceId": "2",
            "version": "1611027668526",
            "content": {
              "topic": "Thread async from C# sdk",
              "initiator": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-f65f-2a7a-5b3a0d00038d"
            },
            "createdOn": "2021-01-19T03:41:08Z",
            "senderId": "19:3790656a18794aaa8e952d3811d59210@thread.v2"
          },
          {
            "id": "1611027668479",
            "type": "participantAdded",
            "priority": "normal",
            "sequenceId": "1",
            "version": "1611027668479",
            "content": {
              "participants": [
                {
                  "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-f65f-2a7a-5b3a0d00038d",
                  "shareHistoryTime": "1970-01-01T00:00:00Z"
                },
                {
                  "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-f84e-2a7a-5b3a0d00038e",
                  "shareHistoryTime": "1970-01-01T00:00:00Z"
                },
                {
                  "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-fa42-2a7a-5b3a0d00038f",
                  "shareHistoryTime": "1970-01-01T00:00:00Z"
                }
              ],
              "initiator": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-f65f-2a7a-5b3a0d00038d"
            },
            "createdOn": "2021-01-19T03:41:08Z",
            "senderId": "19:3790656a18794aaa8e952d3811d59210@thread.v2"
          }
        ],
        "nextLink": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19:3790656a18794aaa8e952d3811d59210@thread.v2/messages?syncState=3e2d00000031393a3337393036353661313837393461616138653935326433383131643539323130407468726561642e763201ff5dbb1877010000dd78bb1877010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2020-11-01-preview3"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3A3790656a18794aaa8e952d3811d59210%40thread.v2/messages/1611027672151?api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Pze/CV6v4Ui4f0NUOGLhnQ.0",
        "X-Processing-Time": "256ms"
      },
      "ResponseBody": {
        "id": "1611027672151",
        "type": "text",
        "priority": "high",
        "sequenceId": "9",
        "version": "1611027682190",
        "content": {
          "message": "This is message 1 content updated"
        },
        "senderDisplayName": "DisplayName sender message 1",
        "createdOn": "2021-01-19T03:41:12Z",
        "senderId": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-f65f-2a7a-5b3a0d00038d",
        "editedOn": "2021-01-19T03:41:22Z"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3A3790656a18794aaa8e952d3811d59210%40thread.v2/messages?api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "v5epJYiA8ESuLJcnvOE2GA.0",
        "X-Processing-Time": "272ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "1611027672151",
            "type": "text",
            "priority": "normal",
            "sequenceId": "10",
            "version": "1611027683183",
            "content": {
              "message": ""
            },
            "senderDisplayName": "DisplayName sender message 1",
            "createdOn": "2021-01-19T03:41:12Z",
            "senderId": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-f65f-2a7a-5b3a0d00038d",
            "deletedOn": "2021-01-19T03:41:22Z"
          },
          {
            "id": "1611027675357",
            "type": "text",
            "priority": "high",
            "sequenceId": "8",
            "version": "1611027675357",
            "content": {
              "message": "Content for message 6"
            },
            "senderDisplayName": "DisplayName sender message 1",
            "createdOn": "2021-01-19T03:41:15Z",
            "senderId": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-[...]
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3A3790656a18794aaa8e952d3811d59210%40thread.v2/participants/:add?api-version=2020-11-01-preview3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "participants": [
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-fc3c-2a7a-5b3a0d000390"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "YAnrgidPokKweQZU33bezQ.0",
        "X-Processing-Time": "441ms"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3A3790656a18794aaa8e952d3811d59210%40thread.v2/participants?maxPageSize=2\u0026api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "eYT3fi/nYk6vaQmdFdXIBw.0",
        "X-Processing-Time": "261ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-f65f-2a7a-5b3a0d00038d",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-f84e-2a7a-5b3a0d00038e",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          }
        ],
        "nextLink": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19:3790656a18794aaa8e952d3811d59210@thread.v2/participants?skip=2\u0026maxPageSize=2\u0026api-version=2020-11-01-preview3"
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19:3790656a18794aaa8e952d3811d59210@thread.v2/participants?skip=2\u0026maxPageSize=2\u0026api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "6f/k3fJAkkO5eKOQo1zVTg.0",
        "X-Processing-Time": "256ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-fa42-2a7a-5b3a0d00038f",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-fc3c-2a7a-5b3a0d000390",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          }
        ],
        "nextLink": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19:3790656a18794aaa8e952d3811d59210@thread.v2/participants?skip=4\u0026maxPageSize=2\u0026api-version=2020-11-01-preview3"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3A3790656a18794aaa8e952d3811d59210%40thread.v2/participants/8%3Aacs%3A1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-fc3c-2a7a-5b3a0d000390?api-version=2020-11-01-preview3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3",
        "MS-CV": "U74WqEpIg0\u002B4LkcL/us3wg.0",
        "X-Processing-Time": "485ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3A3790656a18794aaa8e952d3811d59210%40thread.v2/typing?api-version=2020-11-01-preview3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "MS-CV": "B7EhXhW3c0uTH1vheNPdHA.0",
        "X-Processing-Time": "377ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads?api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "r9HLMmyq1U\u002BJxCf12nIuyA.0",
        "X-Processing-Time": "308ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "19:3790656a18794aaa8e952d3811d59210@thread.v2",
            "topic": "Updated topic - C# sdk",
            "lastMessageReceivedOn": "2021-01-19T03:41:27Z"
          },
          {
            "id": "19:7d86d24dc825425693fc95a4c62a75be@thread.v2",
            "topic": "Thread async from C# sdk",
            "lastMessageReceivedOn": "2021-01-19T03:41:09Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3A3790656a18794aaa8e952d3811d59210%40thread.v2?api-version=2020-11-01-preview3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "MS-CV": "eHbkPJu8A0Ss2sty/2OpyQ.0",
        "X-Processing-Time": "425ms"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://chat-sdktester-e2e.dev.communication.azure.net/;accesskey=Kg==;",
    "RandomSeed": "772597927"
  }
}