{
  "Entries": [
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/identities?api-version=2020-07-20-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "pyndko34iUy9OQyCrvxvGA.0",
        "X-Processing-Time": "25ms"
      },
      "ResponseBody": {
        "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-778a-2a7a-5b3a0d000385"
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/identities/8%3Aacs%3A1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-778a-2a7a-5b3a0d000385/token?api-version=2020-07-20-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "J\u002BdoRQjtFVYLx3qOvzptwBLjQWqy6OEWEEk1TY1\u002BrT4="
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "VwgWMx1Uu0m\u002BkbFN/scmhQ.0",
        "X-Processing-Time": "90ms"
      },
      "ResponseBody": {
        "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-778a-2a7a-5b3a0d000385",
        "token": "Sanitized",
        "expiresOn": "2021-01-20T03:40:32.3610089\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads?api-version=2020-11-01-preview3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "topic": "Thread sync from C# sdk",
        "participants": [
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-778a-2a7a-5b3a0d000385"
          },
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-7976-2a7a-5b3a0d000387"
          },
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-7b6e-2a7a-5b3a0d000388"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://168.61.22.92/chat/threads/19%3Ac2e85d9007e849afa4309d9e52d8e3a5@thread.v2",
        "MS-CV": "sZaFvgRGrUSkZo2kwR6sBw.0",
        "X-Processing-Time": "927ms"
      },
      "ResponseBody": {
        "chatThread": {
          "id": "19:c2e85d9007e849afa4309d9e52d8e3a5@thread.v2",
          "topic": "Thread sync from C# sdk",
          "createdOn": "2021-01-19T03:40:35Z",
          "createdBy": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-778a-2a7a-5b3a0d000385"
        }
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3Ac2e85d9007e849afa4309d9e52d8e3a5%40thread.v2/participants?api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "LGT1ngEkwky2OC\u002BqLYV8fg.0",
        "X-Processing-Time": "272ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-778a-2a7a-5b3a0d000385",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-7976-2a7a-5b3a0d000387",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-7b6e-2a7a-5b3a0d000388",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3Ac2e85d9007e849afa4309d9e52d8e3a5%40thread.v2?api-version=2020-11-01-preview3",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "topic": "Launch meeting"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "MS-CV": "JXeX3BJR1UmuqvLfWPYv\u002Bw.0",
        "X-Processing-Time": "437ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3Ac2e85d9007e849afa4309d9e52d8e3a5%40thread.v2/messages?api-version=2020-11-01-preview3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022content\u0022:\u0022Let\u0027s meet at 11am\u0022}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://168.61.22.92/chat/threads/19%3Ac2e85d9007e849afa4309d9e52d8e3a5@thread.v2/messages/1611027640260",
        "MS-CV": "gAfIpKMwekakm2bclZfnqw.0",
        "X-Processing-Time": "739ms"
      },
      "ResponseBody": {
        "id": "1611027640260"
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3Ac93279aca6104416a30d1ee72b7e2fcc%40thread.v2/messages?api-version=2020-11-01-preview3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "priority": "high",
        "content": "Content for message 2",
        "senderDisplayName": "DisplayName sender message 1",
        "type": "text"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://168.61.22.92/chat/threads/19%3Ac93279aca6104416a30d1ee72b7e2fcc@thread.v2/messages/1611027640885",
        "MS-CV": "gXcrDNuuNEyEudrVPQj7DA.0",
        "X-Processing-Time": "407ms"
      },
      "ResponseBody": {
        "id": "1611027640885"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3Ac2e85d9007e849afa4309d9e52d8e3a5%40thread.v2/messages/1611027640260?api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "27FsDNCVt0yEC3b9HCksqA.0",
        "X-Processing-Time": "282ms"
      },
      "ResponseBody": {
        "id": "1611027640260",
        "type": "text",
        "priority": "normal",
        "sequenceId": "4",
        "version": "1611027640260",
        "content": {
          "message": "Let\u0027s meet at 11am"
        },
        "senderDisplayName": "",
        "createdOn": "2021-01-19T03:40:40Z",
        "senderId": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-778a-2a7a-5b3a0d000385"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3Ac2e85d9007e849afa4309d9e52d8e3a5%40thread.v2/messages?maxPageSize=2\u0026api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode"[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19:c2e85d9007e849afa4309d9e52d8e3a5@thread.v2/messages?syncState=3e2d00000031393a6332653835643930303765383439616661343330396439653532643865336135407468726561642e763201c5f9ba187701000038fcba1877010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJh[...]
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19:c2e85d9007e849afa4309d9e52d8e3a5@thread.v2/messages?syncState=3e2d00000031393a6332653835643930303765383439616661343330396439653532643865336135407468726561642e76320156eaba187701000038fcba1877010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "ruOJxaIEp0O0MZtj/WVwXQ.0",
        "X-Processing-Time": "374ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "1611027636119",
            "type": "topicUpdated",
            "priority": "normal",
            "sequenceId": "2",
            "version": "1611027636119",
            "content": {
              "topic": "Thread sync from C# sdk",
              "initiator": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-778a-2a7a-5b3a0d000385"
            },
            "createdOn": "2021-01-19T03:40:36Z",
            "senderId": "19:c2e85d9007e849afa4309d9e52d8e3a5@thread.v2"
          },
          {
            "id": "1611027636072",
            "type": "participantAdded",
            "priority": "normal",
            "sequenceId": "1",
            "version": "1611027636072",
            "content": {
              "participants": [
                {
                  "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-778a-2a7a-5b3a0d000385",
                  "shareHistoryTime": "1970-01-01T00:00:00Z"
                },
                {
                  "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-7976-2a7a-5b3a0d000387",
                  "shareHistoryTime": "1970-01-01T00:00:00Z"
                },
                {
                  "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-7b6e-2a7a-5b3a0d000388",
                  "shareHistoryTime": "1970-01-01T00:00:00Z"
                }
              ],
              "initiator": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-778a-2a7a-5b3a0d000385"
            },
            "createdOn": "2021-01-19T03:40:36Z",
            "senderId": "19:c2e85d9007e849afa4309d9e52d8e3a5@thread.v2"
          }
        ],
        "nextLink": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19:c2e85d9007e849afa4309d9e52d8e3a5@thread.v2/messages?syncState=3e2d00000031393a6332653835643930303765383439616661343330396439653532643865336135407468726561642e76320168dfba187701000038fcba1877010000\u0026startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00\u0026maxPageSize=2\u0026api-version=2020-11-01-preview3"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3Ac2e85d9007e849afa4309d9e52d8e3a5%40thread.v2/messages/1611027640260?api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "4DP7MhLigEKwoVdkgJAHSQ.0",
        "X-Processing-Time": "259ms"
      },
      "ResponseBody": {
        "id": "1611027640260",
        "type": "text",
        "priority": "normal",
        "sequenceId": "9",
        "version": "1611027650307",
        "content": {
          "message": "Instead of 11am, let\u0027s meet at 2pm"
        },
        "senderDisplayName": "",
        "createdOn": "2021-01-19T03:40:40Z",
        "senderId": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-778a-2a7a-5b3a0d000385",
        "editedOn": "2021-01-19T03:40:50Z"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3Ac2e85d9007e849afa4309d9e52d8e3a5%40thread.v2/messages?api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "0t6vqQ\u002B5AECns69O01dE6Q.0",
        "X-Processing-Time": "276ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "1611027640260",
            "type": "text",
            "priority": "normal",
            "sequenceId": "10",
            "version": "1611027651323",
            "content": {
              "message": ""
            },
            "senderDisplayName": "",
            "createdOn": "2021-01-19T03:40:40Z",
            "senderId": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-778a-2a7a-5b3a0d000385",
            "deletedOn": "2021-01-19T03:40:50Z"
          },
          {
            "id": "1611027643448",
            "type": "text",
            "priority": "high",
            "sequenceId": "8",
            "version": "1611027643448",
            "content": {
              "message": "Content for message 6"
            },
            "senderDisplayName": "DisplayName sender message 1",
            "createdOn": "2021-01-19T03:40:43Z",
            "senderId": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-[...]
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3Ac2e85d9007e849afa4309d9e52d8e3a5%40thread.v2/participants/:add?api-version=2020-11-01-preview3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "participants": [
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-7d6c-2a7a-5b3a0d000389"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "LM84Okc\u002BREaBklyXrfPWwQ.0",
        "X-Processing-Time": "442ms"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3Ac2e85d9007e849afa4309d9e52d8e3a5%40thread.v2/participants?maxPageSize=2\u0026api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "KCdwQQoPC0mb9kg\u002BlJAvjw.0",
        "X-Processing-Time": "265ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-778a-2a7a-5b3a0d000385",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-7976-2a7a-5b3a0d000387",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          }
        ],
        "nextLink": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19:c2e85d9007e849afa4309d9e52d8e3a5@thread.v2/participants?skip=2\u0026maxPageSize=2\u0026api-version=2020-11-01-preview3"
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19:c2e85d9007e849afa4309d9e52d8e3a5@thread.v2/participants?skip=2\u0026maxPageSize=2\u0026api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "MWvjTX9\u002BOUq1liqiq68AQw.0",
        "X-Processing-Time": "257ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-7b6e-2a7a-5b3a0d000388",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          },
          {
            "id": "8:acs:1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-7d6c-2a7a-5b3a0d000389",
            "shareHistoryTime": "1970-01-01T00:00:00Z"
          }
        ],
        "nextLink": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19:c2e85d9007e849afa4309d9e52d8e3a5@thread.v2/participants?skip=4\u0026maxPageSize=2\u0026api-version=2020-11-01-preview3"
      }
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3Ac2e85d9007e849afa4309d9e52d8e3a5%40thread.v2/participants/8%3Aacs%3A1b5cc06b-f352-4571-b1e6-d9b259b7c776_00000007-b89c-7d6c-2a7a-5b3a0d000389?api-version=2020-11-01-preview3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-11-01-preview3",
        "MS-CV": "uvbeGUlWF06B\u002BOUO4HaoGg.0",
        "X-Processing-Time": "507ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3Ac2e85d9007e849afa4309d9e52d8e3a5%40thread.v2/typing?api-version=2020-11-01-preview3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "MS-CV": "OWG9py8T9UmS4iBX50SbKw.0",
        "X-Processing-Time": "385ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads?api-version=2020-11-01-preview3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "uvzD2Sm7kE2CS3hx1hQDmg.0",
        "X-Processing-Time": "423ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "19:c2e85d9007e849afa4309d9e52d8e3a5@thread.v2",
            "topic": "Launch meeting",
            "lastMessageReceivedOn": "2021-01-19T03:40:55Z"
          },
          {
            "id": "19:c93279aca6104416a30d1ee72b7e2fcc@thread.v2",
            "topic": "Thread sync from C# sdk",
            "lastMessageReceivedOn": "2021-01-19T03:40:37Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://chat-sdktester-e2e.dev.communication.azure.net/chat/threads/19%3Ac2e85d9007e849afa4309d9e52d8e3a5%40thread.v2?api-version=2020-11-01-preview3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2020-09-21-preview2, 2020-11-01-preview3",
        "MS-CV": "xZO3Agv6Dki6O/xi33WBPg.0",
        "X-Processing-Time": "452ms"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING": "endpoint=https://chat-sdktester-e2e.dev.communication.azure.net/;accesskey=Kg==;",
    "RandomSeed": "1875608064"
  }
}