{
  "Entries": [
    {
      "RequestUri": "/subscriptions/f100532e-a283-4523-8ff6-a8cebadb6e9d/providers/Microsoft.EdgeOrder/productFamiliesMetadata?api-version=2020-12-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"productLines\": [],\r\n        \"filterableProperties\": [\r\n          {\r\n            \"type\": \"ShipToCountries\",\r\n            \"supportedValues\": [\r\n              \"US\"\r\n            ]\r\n          },\r\n          {\r\n            \"type\": \"DoubleEncryptionStatus\",\r\n            \"supportedValues\": [\r\n              \"Enabled\"\r\n            ]\r\n          }\r\n        ],\r\n        \"displayName\": \"Azure Stack Edge\",\r\n        \"description\": {\r\n          \"descriptionType\": \"Base\",\r\n          \"shortDescription\": \"Azure managed physical edge compute device\",\r\n          \"keywords\": [],\r\n          \"attributes\": [],\r\n          \"links\": []\r\n        },\r\n        \"imageInformation\": [],\r\n        \"availabilityInformation\": {\r\n          \"availabilityStage\": \"Available\",\r\n          \"disabledReason\": \"None\"\r\n        },\r\n        \"hierarchyInformation\": {\r\n          \"productFamilyName\": \"azurestackedge\",\r\n          \"productLineName\": \"\",\r\n          \"productName\": \"\",\r\n          \"configurationName\": \"\"\r\n        }\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "f100532e-a283-4523-8ff6-a8cebadb6e9d",
    "SubId": "f100532e-a283-4523-8ff6-a8cebadb6e9d"
  }
}