{
  "Entries": [
    {
      "RequestUri": "/subscriptions/f100532e-a283-4523-8ff6-a8cebadb6e9d/providers/Microsoft.EdgeOrder/listConfigurations?api-version=2020-12-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"configurationFilters\": [\r\n    {\r\n      \"hierarchyInformation\": {\r\n        \"productFamilyName\": \"AzureStackEdge\",\r\n        \"productLineName\": \"AzureStackEdge\",\r\n        \"productName\": \"AzureStackEdgeGPU\",\r\n        \"configurationName\": \"EdgeP_Base\"\r\n      },\r\n      \"filterableProperty\": [\r\n        {\r\n          \"type\": \"ShipToCountries\",\r\n          \"supportedValues\": [\r\n            \"US\"\r\n          ]\r\n        }\r\n      ]\r\n    }\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"specifications\": [\r\n          {\r\n            \"name\": \"Usable compute\",\r\n            \"value\": \"40 vCPU\"\r\n          },\r\n          {\r\n            \"name\": \"Usable memory\",\r\n            \"value\": \"102 GB\"\r\n          },\r\n          {\r\n            \"name\": \"Usable storage\",\r\n            \"value\": \"4.2 TB\"\r\n          }\r\n        ],\r\n        \"dimensions\": {\r\n          \"length\": 50.0,\r\n          \"height\": 15.0,\r\n          \"width\": 5.0,\r\n          \"lengthHeightUnit\": \"IN\",\r\n          \"weight\": 50.0,\r\n          \"depth\": 2.0,\r\n          \"weightUnit\": \"LBS\"\r\n        },\r\n        \"filterableProperties\": [\r\n          {\r\n            \"type\": \"ShipToCountries\",\r\n            \"supportedValues\": [\r\n              \"US\"\r\n            ]\r\n          }\r\n        ],\r\n        \"displayName\": \"Azure Stack Edge Pro - 1 GPU\",\r\n        \"description\": {\r\n          \"descriptionType\": \"Base\",\r\n          \"shortDescription\": \"\",\r\n          \"longDescription\": \"\",\r\n          \"keywords\": [\r\n            \"GPU\"\r\n          ],\r\n          \"attributes\": [],\r\n          \"links\": []\r\n        },\r\n        \"imageInformation\": [],\r\n        \"costInformation\": {\r\n          \"billingMeterDetails\": [\r\n            {\r\n              \"name\": \"RentalFee\",\r\n              \"meterDetails\": {\r\n                \"meterGuid\": \"91edd360-e07c-5529-a0fd-99f30b20cf21\",\r\n                \"billingType\": \"Pav2\",\r\n                \"multiplier\": 1.0,\r\n                \"chargingType\": \"PerOrder\"\r\n              },\r\n              \"meteringType\": \"Recurring\",\r\n              \"frequency\": \"P1D\"\r\n            },\r\n            {\r\n              \"name\": \"ShippingFee\",\r\n              \"meterDetails\": {\r\n                \"meterGuid\": \"97b0cf84-c662-567c-bcbb-4158fa54ccc9\",\r\n                \"billingType\": \"Pav2\",\r\n                \"multiplier\": 1.0,\r\n                \"chargingType\": \"PerOrder\"\r\n              },\r\n              \"meteringType\": \"OneTime\",\r\n              \"frequency\": \"\"\r\n            },\r\n            {\r\n              \"name[...]
