{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.EdgeOrderPartner/operations?api-version=2020-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Microsoft.EdgeOrderPartner/operations/read",
            "display": {
              "provider": "Edge Ordering",
              "resource": "Operations",
              "operation": "List or Get Operations",
              "description": "List or get the Operations"
            },
            "origin": "user",
            "isDataAction": false
          },
          {
            "name": "Microsoft.EdgeOrderPartner/searchInventories/action",
            "display": {
              "provider": "Edge Ordering",
              "resource": "ArmApiRes_Microsoft.EdgeOrderPartner"
            },
            "origin": "user",
            "isDataAction": false
          },
          {
            "name": "Microsoft.EdgeOrderPartner/locations/productFamilies/inventories/manageLink/action",
            "display": {
              "provider": "Edge Ordering",
              "resource": "ArmApiRes_inventories"
            },
            "origin": "user",
            "isDataAction": false
          },
          {
            "name": "Microsoft.EdgeOrderPartner/locations/productFamilies/inventories/manageInventoryMetadata/action",
            "display": {
              "provider": "Edge Ordering",
              "resource": "ArmApiRes_inventories"
            },
            "origin": "user",
            "isDataAction": false
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "982311511",
    "SUBSCRIPTION_ID": "sanitized"
  }
}