{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.EdgeOrder/operations?api-version=2020-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Microsoft.EdgeOrder/addresses/read\",\r\n      \"display\": {\r\n        \"provider\": \"Edge Ordering\",\r\n        \"resource\": \"Addresses\",\r\n        \"operation\": \"List or Get Addresses\",\r\n        \"description\": \"List or get the Addresses\"\r\n      },\r\n      \"origin\": \"user\",\r\n      \"isDataAction\": false\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.EdgeOrder/addresses/delete\",\r\n      \"display\": {\r\n        \"provider\": \"Edge Ordering\",\r\n        \"resource\": \"Addresses\",\r\n        \"operation\": \"Delete Addresses\",\r\n        \"description\": \"Delete the Addresses\"\r\n      },\r\n      \"origin\": \"user\",\r\n      \"isDataAction\": false\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.EdgeOrder/addresses/write\",\r\n      \"display\": {\r\n        \"provider\": [...]
