{
  "Entries": [
    {
      "RequestUri": "/subscriptions/f100532e-a283-4523-8ff6-a8cebadb6e9d/resourcegroups/SdkRg1798?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/f100532e-a283-4523-8ff6-a8cebadb6e9d/resourceGroups/SdkRg1798\",\r\n  \"name\": \"SdkRg1798\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/f100532e-a283-4523-8ff6-a8cebadb6e9d/resourceGroups/SdkRg1798/providers/Microsoft.EdgeOrder/addresses/SdkAddress4365?api-version=2020-12-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"shippingAddress\": {\r\n      \"streetAddress1\": \"16 TOWNSEND ST\",\r\n      \"streetAddress2\": \"Unit 1\",\r\n      \"city\": \"San Francisco\",\r\n      \"stateOrProvince\": \"CA\",\r\n      \"country\": \"US\",\r\n      \"postalCode\": \"94107\",\r\n      \"companyName\": \"Microsoft\",\r\n      \"addressType\": \"Commercial\"\r\n    },\r\n    \"contactDetails\": {\r\n      \"contactName\": \"Public SDK Test\",\r\n      \"phone\": \"1234567890\",\r\n      \"phoneExtension\": \"1234\",\r\n      \"emailList\": [\r\n        \"testing@microsoft.com\"\r\n      ]\r\n    }\r\n  },\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"shippingAddress\": {\r\n      \"streetAddress1\": \"16 TOWNSEND ST\",\r\n      \"streetAddress2\": \"Unit 1\",\r\n      \"city\": \"San Francisco\",\r\n      \"stateOrProvince\": \"CA\",\r\n      \"country\": \"US\",\r\n      \"postalCode\": \"94107\",\r\n      \"companyName\": \"Microsoft\",\r\n      \"addressType\": \"Commercial\"\r\n    },\r\n    \"contactDetails\": {\r\n      \"contactName\": \"Public SDK Test\",\r\n      \"phone\": \"1234567890\",\r\n      \"phoneExtension\": \"1234\",\r\n      \"emailList\": [\r\n        \"testing@microsoft.com\"\r\n      ]\r\n    }\r\n  },\r\n  \"systemData\": {\r\n    \"createdBy\": \"46f005c6-af25-4659-b0ab-11c6f1fca4c2\",\r\n    \"createdByType\": \"Application\",\r\n    \"createdAt\": \"2021-07-26T19:17:10.7155936+05:30\",\r\n    \"lastModifiedBy\": \"46f005c6-af25-4659-b0ab-11c6f1fca4c2\",\r\n    \"lastModifiedByType\": \"Application\",\r\n    \"lastModifiedAt\": \"2021-07-26T19:17:10.7155936+05:30\"\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"tags\": {},\r\n  \"name\": \"SdkAddress4365\",\r\n  \"id\": \"/subscriptions/f100532e-a283-4523-8ff6-a8cebadb6e9d/resourceGroups/SdkRg1798/providers/Microsoft.EdgeOrder/addresses/SdkAddress4365\",\r\n  \"type\": \"Microsoft.EdgeOrder/addresses\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/f100532e-a283-4523-8ff6-a8cebadb6e9d/providers/Microsoft.EdgeOrder/addresses?api-version=2020-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"shippingAddress\": {\r\n          \"streetAddress1\": \"16 TOWNSEND ST\",\r\n          \"streetAddress2\": \"Unit 1\",\r\n          \"city\": \"San Francisco\",\r\n          \"stateOrProvince\": \"CA\",\r\n          \"country\": \"US\",\r\n          \"postalCode\": \"94107\",\r\n          \"companyName\": \"Microsoft\",\r\n          \"addressType\": \"Commercial\"\r\n        },\r\n        \"contactDetails\": {\r\n          \"contactName\": \"Updated contact name\",\r\n          \"phone\": \"1234567890\",\r\n          \"phoneExtension\": \"1234\",\r\n          \"emailList\": [\r\n            \"testing@microsoft.com\"\r\n          ]\r\n        }\r\n      },\r\n      \"systemData\": {\r\n        \"createdBy\": \"46f005c6-af25-4659-b0ab-11c6f1fca4c2\",\r\n        \"createdByType\": \"Application\",\r\n        \"createdAt\": \"2021-07-26T19:17:10.7155936+05:30\",\r\n        \"lastModifiedBy\": \"46f005c6-af25-4659-b0ab-11c6f1fca4c2\",\r\n        \"lastModifiedByType\": \"Application\",\r\n        \"lastModifiedAt\": \"2021-07-26T19:17:14.5366671+05:30\"\r\n      },\r\n      \"location\": \"eastus\",\r\n      \"tags\": {},\r\n      \"name\": \"SdkAddress4365\",\r\n      \"id\": \"/subscriptions/f100532e-a283-4523-8ff6-a8cebadb6e9d/resourceGroups/SdkRg1798/providers/Microsoft.EdgeOrder/addresses/SdkAddress4365\",\r\n      \"type\": \"Microsoft.EdgeOrder/addresses\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/f100532e-a283-4523-8ff6-a8cebadb6e9d/resourceGroups/SdkRg1798/providers/Microsoft.EdgeOrder/addresses?api-version=2020-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \[...]
    {
      "RequestUri": "/subscriptions/f100532e-a283-4523-8ff6-a8cebadb6e9d/resourceGroups/SdkRg1798/providers/Microsoft.EdgeOrder/addresses/SdkAddress4365?api-version=2020-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "TestAddressCRUDOperations": [
      "SdkRg1798",
      "SdkAddress4365"
    ]
  },
  "Variables": {
    "SubscriptionId": "f100532e-a283-4523-8ff6-a8cebadb6e9d",
    "SubId": "f100532e-a283-4523-8ff6-a8cebadb6e9d"
  }
}